* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background: #EEEDEF;
}

.story {
 position: relative;
 padding-bottom: 70%;
 padding-top: 30%;
 width: 90%;
 max-width: 700px;
 margin-left: auto;
 margin-right: auto;
}


/**/

.fade-in.loaded {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition:         opacity 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#vis {
  position: fixed;
  top: 20%;
  left: 2rem;
  z-index: 99;
  margin: 10%;
  width: 100%;
}

#vis.fixed-vis {
  position: absolute;
  top: 40%;
  left: 20%;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

.liberal {
  font-size: 2em;
  color: #045ec1;
  fill: #045ec1;
}

.ndp {
  font-size: 2em;
  color: #ff9800;
  fill: #ff9800;
}

.green {
  font-size: 2em;
  color: #14a726;
  fill: #14a726;
}



#header {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 95%;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -20%);
}

#arrow-fixed {
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0.6;
}

.influence {
  color:#da0000;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2em;
}

#three-parties {
  width: 90%;
  position: relative;
  padding-top: calc(20% + 580px);
  padding-left: 5%;
}

.go-dark {
  background-color: black;
  -webkit-transition: background-color 1000ms linear;
   -ms-transition: background-color 1000ms linear;
   transition: background-color 1000ms linear;
  color: white;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }
}

@media (min-height: 600px) {
  #arrow-fixed {
    display: none;
  }
}

/*iPad*/
@media (min-height: 1000px) {
  .story {
   padding-bottom: 40%;
   padding-top: 20%;
  }


}

/*720p laptop screens*/
@media (min-width: 800px) {
  .story {
   padding-bottom: 20%;
   padding-top: 20%;
  }
}
